<style>
  .navbarMain {
    border-bottom: solid 5px #b08b57;
    text-transform: uppercase;
    font-size: 15px;
  }
  .nav-item{
    color: rgb(17, 106, 184);
  }
</style>
<!----------============= Navbar starts ===============--------------> 
 <nav class="navbar navbar-light bg-light navbar navbar-expand-lg logoNav">
  <div class="container-fluid" style="padding-top: 3rem;" > 
    <a class="navbar-brand" href="#">
      <img src="{{url_for('static', filename='images/logo.png')}}" alt="" width="391px" height="90" class="d-inline-block align-text-top">
    </a>
 </nav>  
 <nav class="navbar navbar-dark bg-dark navbar navbar-expand-lg sticky-top navbarMain">
    <div class="container-fluid" style="padding-top: 1rem;" >     
      <a class="navbar-brand text-info" href="#">
        faddai<span class="text-white">Motors</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"><i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp;Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/"><i class="fas fa-car"></i>&nbsp;Vehicles and Parts</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fas fa-crutch"></i>&nbsp;Brands
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% for brand in brands %}
              <li><a class="dropdown-item" href="{{url_for('get_brand', id=brand.id)}}">{{brand.name}}</a></li>
              {% endfor %}
            </ul>
          </li>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fas fa-holly-berry"></i>&nbsp;Categories
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% for category in categorys %}
              <li><a class="dropdown-item" href="{{url_for('get_category', id=category.id)}}">{{category.name}}</a></li>
              {% endfor %}
            </ul>
          </li>

        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>

  <!---------------------============== Navbar ends ===============--------->