{% extends 'base2.html' %}


{% block body %}
{% include 'Navbar.html' %}
<style>
    /* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 3rem;
  color: #5a5a5a;
}

.bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
}

.overlay-image {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    opacity: 0.5;

}

.marketing {
  padding-top: 3rem;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
/* rtl:end:ignore */


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  /* rtl:remove */
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
</style>
<main>
<!-- Carousel boostrap 5--> 

<div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner " >
      <div class="carousel-item active">
        <img src="{{url_for('static', filename='images/car3.jpg')}}" class="d-block w-100" alt="..." height="500px" width="120px">
      </div>
      <div class="carousel-item">
        <img src="{{url_for('static', filename='images/car4.jpg')}}" class="d-block w-100" alt="..." height="500px" width="120px">
      </div>
      <div class="carousel-item overlay-image">
        <img src="{{url_for('static', filename='images/car5.jpg')}}" class="d-block w-100" alt="..." height="500px" width="120px">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

<!--End of carousel-->


    <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
          <div class="col-lg-4">
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
    
            <h2>Heading</h2>
            <p>Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p>
            <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
    
            <h2>Heading</h2>
            <p>Another exciting bit of representative placeholder content. This time, we've moved on to the second column.</p>
            <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
    
            <h2>Heading</h2>
            <p>And lastly this, the third column of representative placeholder content.</p>
            <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->

        <hr class="featurette-divider">

<div class="container">
    <div class="row">
       
     {% if brand %}  
     {% for bra in brand.items %}
     <div class="col-md-3 mt-3">
         <div class="card h-100">
                 <img src="{{url_for('static', filename='images/' + bra.image_1)}}" class="card-img-top" alt="{{bra.name}}" height="200">
             <div class="card-body">
                 <h5 class="card-title text-center">{{bra.name}}</h5>                 
                 <p class="card-text text-center">Price: ${{bra.price}}</p>
                 {% if bra.discount > 0 %}
                 <p class="text-danger"><small>{{bra.discount}}% Discount</small></p>
                 {% endif %}
             </div>
             <div class="card-footer">
                 <a href="#" class="float-left btn btn-sm btn-success">View</a>
                 <a href="#" class="float-right btn btn-sm btn-info">Add to bag</a>
             </div>
         </div>
     </div>
     {% endfor %}
</div>
<div class="row">
  <div class="col text-center">
    {% if brand.has_prev %}
    <a href="{{url_for('get_brand',id=get_brand.id, page=brand.prev_num)}}" class="btn btn-sm btn-outline-success mt-3">Previous</a>
    {% endif %}
    {% if brand.total > 8 %}
    {% for pageNumbers in brand.iter_pages(left_edge=1, right_edge=2, left_current=1, right_current=2) %}
    {% if pageNumbers %}
    {% if brand.page == pageNumbers %}
    <a href="{{url_for('get_brand',id=get_brand.id, page=pageNumbers)}}" class="btn btn-sm btn-success mt-3">{{pageNumbers}}</a>
    {% else %}
    <a href="{{url_for('get_brand',id=get_brand.id, page=pageNumbers)}}" class="btn btn-sm btn-outline-success mt-3">{{pageNumbers}}</a>
    {% endif %}
    {% else %}
    ...
    {% endif %}
    {% endfor %}
    {% endif %}

    {% if brand.has_next %}
      <a href="{{url_for('get_brand',id=get_brand.id, page=items.next_num)}}" class="btn btn-sm btn-outline-success mt-3">Next</a>
    {% endif %}
  </div>
</div>
    <div class="row">
     {% elif get_category_item %}
       {% for category in get_category_item.items %}
      <div class="row">
       <div class="col-md-3 mt-3">
        <div class="card h-100">
                <img src="{{url_for('static', filename='images/' + category.image_1)}}" class="card-img-top" alt="{{category.name}}" height="200">
            <div class="card-body">
                <h5 class="card-title text-center">{{category.name}}</h5>                 
                <p class="card-text text-center">Price: ${{category.price}}</p>
                {% if category.discount > 0 %}
                <p class="text-danger"><small>{{category.discount}}% Discount</small></p>
                {% endif %}
            </div>
            <div class="card-footer">
                <a href="#" class="float-left btn btn-sm btn-success">View</a>
                <a href="#" class="float-right btn btn-sm btn-info">Add to bag</a>
            </div>
        </div>
    </div>
  </div>
       {% endfor %}
    </div>
    <div class="col text-center">
      {% if get_category_item.has_prev %}
      <a href="{{url_for('get_category', id=get_category.id, page=get_category_item.prev_num)}}" class="btn btn-sm btn-outline-success mt-3">Previous</a>
      {% endif %}
      {% if get_category_item.total > 8 %}
      {% for pageNumbers in get_category_item.iter_pages(left_edge=1, right_edge=2, left_current=1, right_current=2) %}
      {% if pageNumbers %}
      {% if get_category_item.page == pageNumbers %}
      <a href="{{url_for('get_category', id=get_category.id, page=pageNumbers)}}" class="btn btn-sm btn-success mt-3">{{pageNumbers}}</a>
      {% else %}
      <a href="{{url_for('get_category', id=get_category.id, page=pageNumbers)}}" class="btn btn-sm btn-outline-success mt-3">{{pageNumbers}}</a>
      {% endif %}
      {% else %}
      ...
      {% endif %}
      {% endfor %}
      {% endif %}

      {% if get_category_item.has_next %}
        <a href="{{url_for('get_category', id=get_category.id, page=get_category_item.next_num)}}" class="btn btn-sm btn-outline-success mt-3">Next</a>
      {% endif %}
    </div>
    <div class="row">

       {% else %}
        {% for item in items.items %}
            <div class="col-md-3 mt-3">
                <div class="card h-100">
                        <img src="{{url_for('static', filename='images/' + item.image_1)}}" class="card-img-top" alt="{{item.name}}" height="200">
                    <div class="card-body">
                        <h5 class="card-title text-center">{{item.name}}</h5>

                        <p class="card-text text-center">Price: ${{item.price}}</p>
                        {% if item.discount > 0 %}
                        <p class="text-danger"><small>{{item.discount}}% Discount</small></p>
                        {% endif %}
                    </div>
                    <div class="card-footer">
                        <a href="#" class="float-left btn btn-sm btn-success">View</a>
                        <a href="#" class="float-right btn btn-sm btn-info">Add to bag</a>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
        <div class="row">
          <div class="col text-center">
            {% if items.has_prev %}
            <a href="{{url_for('home', page=items.prev_num)}}" class="btn btn-sm btn-outline-success mt-3">Previous</a>
            {% endif %}
            {% for pageNumbers in items.iter_pages(left_edge=1, right_edge=2, left_current=1, right_current=2) %}
            {% if pageNumbers %}
            {% if items.page == pageNumbers %}
            <a href="{{url_for('home', page=pageNumbers)}}" class="btn btn-sm btn-success mt-3">{{pageNumbers}}</a>
            {% else %}
            <a href="{{url_for('home', page=pageNumbers)}}" class="btn btn-sm btn-outline-success mt-3">{{pageNumbers}}</a>
            {% endif %}
            {% else %}
            ...
            {% endif %}
            {% endfor %}

            {% if items.has_next %}
              <a href="{{url_for('home', page=items.next_num)}}" class="btn btn-sm btn-outline-success mt-3">Next</a>
            {% endif %}
          </div>
        </div>
        
     {% endif %}   
    </div>
</div>






<!-- Footer Starts -->  
<div class="footer">
        <div class="footer-content">
            <div class="footer-section about">
                <h1 class="logo-text"><span>faddai</span>Motors</h1>
                <p>
                    faddaiMotors is an Accra based dealership with both new and used cars that gives its
                    customers unmatched service with a knowledgeable staff.
                </p>
                <div class="contacts">
                    <span><i class="fas fa-phone"></i>&nbsp; 024-200-2602</span>
                    <span><i class="fas fa-envelope"></i>&nbsp; info@faddaiMotors.com</span>
                    <div class="social">
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
            </div>
            <div class="footer-section links">
                <h2>Quick Links</h2>
                <br>
                <ul>
                    <a href="#"><li>Home</li></a>
                    <a href="#"><li>Inventory</li></a>
                    <a href="#"><li>Autoparts & Supports</li></a>
                    <a href="#"><li>Terms</li></a>
                    <a href="#"><li>Hours</li></a>
                </ul>
            </div>
            <div class="footer-section contact-form">
                <h2>Contact Us</h2>
                <br>
                <form action="home.html.html" method="post">
                    <input type="email" name="email" class="text-input contact-input" placeholder="Your email address!">
                    <textarea rows="2" name="message" class="text-input contact-input" placeholder="Your message......"></textarea>
                    <button type="submit" class="btn btn-big contact-btn">
                        <i class="fas fa-envelope"></i>
                        Send
                    </button>
                </form>
            </div>
        </div>
        <div class="footer-bottom">
            copyright &copy;, 2019 faddaiMotors. || All right reserved.
        </div>
    </div> 
    <marquee class="logo-text"><span>faddai</span>Motors, thanks for your time ❤️.........</marquee>
<!-- Footer ends -->
</main>
{% endblock %}